/*green #8ACEAC
blue #60B2C7
purple #A798C8
pink #F484A2
orange #F8A87D*/


body {
  background-color: #B7C0C4;
  display: flex;
  justify-content: center;
}

.frame {
  font-size: 24px;
  background-color: white;
  max-width: 500px;
  border-radius: 20px;
  padding: 2%;
  margin: 20px 20px;
}

button {
  background: linear-gradient(145deg, #F8A87D, #F484A2);
  color: white;
  border-radius: 50px;
  width: 90px;
  height: 90px;
  border: none;
  margin: 18px 8px;
  box-shadow: 3px 3px 3px #B7C0C4;
  font-size: 90px;
}

button:active {
  color: #17A9F4;
}

button:focus {
  outline:0;
}

.top {
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.functionbox {
  display: inline-block;
}

output {
  font-size: 40px;
  padding: 5px 8px;
  color: white;
  border-radius: 8px;
  max-width: 263px;
  max-height: 80px;
  flex-grow: 1;
  display: block;
  background: linear-gradient(#17A9F4, #42CE9C);
  margin-top: 20px;
  margin-bottom: 0;
  box-shadow: 1px 2px 2px #B7C0C4;
}

.buttonclear {
  margin-right: 50px;
  margin-left: 0;
}

/*.operator {
  font-size: 100px;
}*/
